* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, purple, salmon);
  min-height: 100vh;
  font-family: sans-serif;
}

.Form {
  padding: 2rem;
  background: linear-gradient(to bottom, rgba(255,255,255, .95), white);
  border-radius: .25rem;
  box-shadow: 1em 1em 1em rgba(0,0,0, .1);
}

.Form-Group {
  margin: 0 0 1rem;
}

.Form-Label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7rem;
  font-weight: 600;
}

input[type="text"],
textarea {
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  border: 1px solid #eee;
}